<section class="container" style="margin-bottom: 60px; margin-top: 100px;">
  <div><h1 >{{titleContact}}</h1></div>
  <div style="margin-top: 70px ;" class="text-center">
    <button class="btn fs-2 fw-bold" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions"
      aria-controls="offcanvasWithBothOptions" style="border: 1px solid #004aad;">Contattami</button>

    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
      aria-labelledby="offcanvasWithBothOptionsLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">I miei Contatti</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body text-start">
        <ul style="list-style-type: none; padding: 0;" >
          <li><a class="dropdown-item link fs-4 py-2" href="mailto:rosarionici@protonmail.com"><i class="fa-solid fa-envelope"></i> Mandami una mail</a></li>
          <li><a class="dropdown-item link fs-4 py-2" href="https://wa.me/393272141556" target="_blank"><i class="fa-solid fa-phone"></i> <i class="fa-solid fa-share mx-3"></i> <i class="fa-brands fa-whatsapp"></i></a></li>
          <li><a class="dropdown-item link fs-4 py-2" href="https://github.com/RosarioNici" target="_blank"><i class="fs-2 fa-brands fa-github"></i> GitHub</a></li>
          <li><a class="dropdown-item link fs-4 py-2" href="https://www.linkedin.com/in/rosario-nici/" target="_blank"><i class="fs-2 fa-brands fa-linkedin"></i> Linkedin</a></li>
          <li><a class="dropdown-item link fs-4 py-2"  href="https://www.instagram.com/rosarionici/" target="_blank"><i class="fs-2 fa-brands fa-instagram"></i> Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
