<nav class="navbar">
  <div class="container">
    <div>
      <a class="navbar-brand" href="#">
        <img src="../../assets/img/1.png" alt="Bootstrap" width="90" height="90">
      </a>
    </div>
    <div class="social">
      <a href=""><i class="p-2 fs-2 fa-brands fa-github"></i></a>
      <a href=""><i class="p-2 fs-2 fa-brands fa-linkedin"></i></a>
      <a href=""><i class="p-2 fs-2 fa-brands fa-instagram"></i></a>
    </div>
    <div class="links">
      <ul class="d-flex justify-content-between" style="list-style-type: none;">
        <li><a class="p-2 fs-2 link" href="me">ABOUT</a></li>
        <li><a class="p-2 fs-2 link" href="lavori">EXPERIENCE</a></li>
        <li><a class="p-2 fs-2 link" href="skills">SKILLS</a></li>
        <li><a class="p-2 fs-2 link" href="contatti">CONTACT</a></li>
      </ul>
    </div>
    <div class="btn-group dropstart">
      <button style="color: #004aad;" class="btn dropdown-toggle fw-bold fs-2" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true"
        aria-expanded="false">
        Links
      </button>
      <ul class="dropdown-menu" style="border: none">
        <li><a class="dropdown-item link fs-3" href="#">ABOUT</a></li>
        <li><a class="dropdown-item link fs-3" href="#">EXPERIENCE</a></li>
        <li><a class="dropdown-item link fs-3" href="#">SKILLS</a></li>
        <li><a class="dropdown-item link fs-3" href="#">CONTACT</a></li>
        <li>
          <a class="dropdown-item link fs-3" href=""><i class="p-2 fs-2 fa-brands fa-github"></i> GitHub</a>
          <a class="dropdown-item link fs-3" href=""><i class="p-2 fs-2 fa-brands fa-linkedin"></i> Linkedin</a>
          <a class="dropdown-item link fs-3" href=""><i class="p-2 fs-2 fa-brands fa-instagram"></i> Instagram</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
